In [1]:
import pandas as pd
bmi_data = pd.read_csv('bmi.csv')
bmi_data

    count  gender Push-up test fitness status
0      10       1                    Poor boy
1      13       1                    Poor boy
2      14       1                    Poor boy
3      16       1                    Poor boy
4      17       1                    fair boy
5      19       1                    fair boy
6      20       1                    fair boy
7      21       1                    fair boy
8      22       1                    good boy
9      25       1                    good boy
10     26       1                    good boy
11     28       1                    good boy
12     29       1               very good boy
13     31       1               very good boy
14     33       1               very good boy
15     35       1               very good boy
16     36       1               Excellent boy
17     37       1               Excellent boy
18     38       1               Excellent boy
19     40       1               Excellent boy
20      5       0                   poor girl
21      7       0                   poor girl
22      8       0                   poor girl
23      9       0                   poor girl
24     10       0                   fair girl
25     12       0                   fair girl
26     13       0                   fair girl
27     14       0                   fair girl
28     15       0                   good girl
29     16       0                   good girl
30     18       0                   good girl
31     20       0                   good girl
32     21       0              very good girl
33     25       0              very good girl
34     27       0              very good girl
35     29       0              very good girl
36     30       0              Excellent girl
37     32       0              Excellent girl
38     33       0              Excellent girl
39     35       0              Excellent girl

In [3]:
#preparing data
X= bmi_data.drop(columns =['Push-up test fitness status'])
X

    count  gender
0      10       1
1      13       1
2      14       1
3      16       1
4      17       1
5      19       1
6      20       1
7      21       1
8      22       1
9      25       1
10     26       1
11     28       1
12     29       1
13     31       1
14     33       1
15     35       1
16     36       1
17     37       1
18     38       1
19     40       1
20      5       0
21      7       0
22      8       0
23      9       0
24     10       0
25     12       0
26     13       0
27     14       0
28     15       0
29     16       0
30     18       0
31     20       0
32     21       0
33     25       0
34     27       0
35     29       0
36     30       0
37     32       0
38     33       0
39     35       0

In [4]:
y = bmi_data['Push-up test fitness status']
y

0           Poor boy
1           Poor boy
2           Poor boy
3           Poor boy
4           fair boy
5           fair boy
6           fair boy
7           fair boy
8           good boy
9           good boy
10          good boy
11          good boy
12     very good boy
13     very good boy
14     very good boy
15     very good boy
16     Excellent boy
17     Excellent boy
18     Excellent boy
19     Excellent boy
20         poor girl
21         poor girl
22         poor girl
23         poor girl
24         fair girl
25         fair girl
26         fair girl
27         fair girl
28         good girl
29         good girl
30         good girl
31         good girl
32    very good girl
33    very good girl
34    very good girl
35    very good girl
36    Excellent girl
37    Excellent girl
38    Excellent girl
39    Excellent girl
Name: Push-up test fitness status, dtype: object

In [7]:
#learning and predicting
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
bmi_data = pd.read_csv('bmi.csv')
X= bmi_data.drop(columns =['Push-up test fitness status'])
y = bmi_data['Push-up test fitness status']
x_train,x_test,y_train,y_test =train_test_split(X, y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
score = accuracy_score(y_test, predictions)
score

0.75

In [50]:
#calculating the accuracy
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
bmi_data = pd.read_csv('bmi.csv')
X= bmi_data.drop(columns =['Push-up test fitness status'])
y = bmi_data['Push-up test fitness status']
x_train,x_test,y_train,y_test =train_test_split(X, y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
score = accuracy_score(y_test, predictions)
score

0.625

In [ ]:
import pandas as pd 
import joblib
bmi_data = pd.read_csv('bmi.csv')
X= bmi_data.drop(columns =['Push-up test fitness status'])
y = bmi_data['Push-up test fitness status']
model = DecisionTreeClassifier()
model.fit(X, y)
joblib.dump(model, 'sports-recommender.joblib')

In [59]:
import pandas as pd 
import joblib
model = DecisionTreeClassifier()
model.fit(X, y)
model = joblib.load('sports-recommender.joblib')
predictions = model.predict([[39,1]])
predictions

C:\Users\mm\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Excellent boy'], dtype=object)

In [2]:
#visualizing a decision tree
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
bmi_data = pd.read_csv('bmi.csv')
X= bmi_data.drop(columns =['Push-up test fitness status'])
y = bmi_data['Push-up test fitness status']
model = DecisionTreeClassifier()
model.fit(X, y)
tree.export_graphviz(model, out_file='music-recommender.dot',
                feature_names=['count','gender'],
                class_names= sorted(y.unique()),
                label='all',
                rounded=True,
                filled=True)